# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Solidity testing CI using hardhat

on:
  # push:
  #   branches: [ dev ]
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  Lint-Prettify:
    name: Linter & Prettier
    runs-on: ubuntu-22.04
    steps:
      #   - name: Cancel previous redundant builds
      #     uses: styfle/cancel-workflow-action@0.9.1
      #     with:
      #       access_token: ${{ github.token }}

      ############### PNPM ###############

      - uses: pnpm/action-setup@v2
        name: Install pnpm
        id: pnpm-install
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      ############### PNPM ###############

      - name: Checkout repository code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 #only brings last commit

      - name: Install dependencies
        run: pnpm install

      - name: Run linter checks
        run: pnpm run lint

      - name: Run prettier checks
        run: pnpm run prettier

  Lint-PrettifySOL:
    name: Linter & Prettier (SOLIDITY)
    runs-on: ubuntu-22.04
    steps:
      #   - name: Cancel previous redundant builds
      #     uses: styfle/cancel-workflow-action@0.9.1
      #     with:
      #       access_token: ${{ github.token }}

      ############### PNPM ###############

      - uses: pnpm/action-setup@v2
        name: Install pnpm
        id: pnpm-install
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      ############### PNPM ###############

      - name: Checkout repository code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 #only brings last commit

      - name: Install dependencies
        run: pnpm install

      - name: Run solidity linter checks
        run: pnpm run lintSOL

      - name: Run solidity prettier checks
        run: pnpm run prettierSOL

  Compile:
    needs: [Lint-Prettify, Lint-PrettifySOL]
    runs-on: ubuntu-22.04
    steps:
      ############### PNPM ###############
      - uses: pnpm/action-setup@v2
        name: Install pnpm
        id: pnpm-install
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      ############### PNPM ###############

      - name: Checkout repository code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 #only brings last commit

      - name: Install dependencies
        run: pnpm install

      - name: Compile contracts
        run: pnpm run compile

  Test:
    name: Solidity tests
    needs: [Lint-Prettify, Lint-PrettifySOL]
    runs-on: ubuntu-22.04
    steps:
      ############### PNPM ###############
      - uses: pnpm/action-setup@v2
        name: Install pnpm
        id: pnpm-install
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      ############### PNPM ###############

      - name: Checkout repository code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 #only brings last commit

      - name: Install dependencies
        run: pnpm install

      - name: Run hardhat tests (includes gas reported)
        run: pnpm run test

  Codechecks:
    name: Codechecks (checks over gas report)
    needs: [Test]
    runs-on: ubuntu-22.04
    steps:
      ############### PNPM ###############
      - uses: pnpm/action-setup@v2
        name: Install pnpm
        id: pnpm-install
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      ############### PNPM ###############

      - name: Checkout repository code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 #only brings last commit

      - name: Install dependencies
        run: pnpm install

      - name: Run hardhat tests (includes gas reported)
        run: pnpm run test

      # codechecks, gas report diff
      - name: Codechecks gas report
        run: |
          pnpm run codechecks
        env:
          CC_SECRET: ${{ secrets.CC_SECRET }}
      # codechecks

  Coverage:
    name: Coverage (coveralls)
    needs: [Test]
    runs-on: ubuntu-22.04
    steps:
      ############### PNPM ###############
      - uses: pnpm/action-setup@v2
        name: Install pnpm
        id: pnpm-install
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      ############### PNPM ###############

      - name: Checkout repository code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 #only brings last commit

      - name: Install dependencies
        run: pnpm install

      - name: Run hardhat coverage
        run: pnpm run coverage

      # coveralls, code coverage
      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@v2
      # coveralls
