# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Solidity testing CI using hardhat

on:
  # push:
  #   branches: [ dev ]
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  hardhat-test:
    name: hardhat-test
    # defaults:
    #   run:
    #     working-directory: SOLIDITY
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      #   - name: Cancel previous redundant builds
      #     uses: styfle/cancel-workflow-action@0.9.1
      #     with:
      #       access_token: ${{ github.token }}

      - name: Checkout repository code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 #only brings last commit

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - uses: pnpm/action-setup@v2
        name: Install pnpm
        id: pnpm-install
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: Compile contracts
        run: pnpm run compile

      - name: Run linter checks
        run: pnpm run lint

      - name: Run solidity linter checks
        run: pnpm run lintSOL

      - name: Run prettier checks
        run: pnpm run prettier

      - name: Run solidity prettier checks
        run: pnpm run prettierSOL

      - name: Run hardhat tests (includes gas reported)
        run: pnpm run test

      - name: Run hardhat coverage
        run: pnpm run coverage

      # codechecks, gas report diff
      - name: Codechecks gas report
        run: |
          pnpm run codechecks
        env:
          CC_SECRET: ${{ secrets.CC_SECRET }}
      # codechecks

      # coveralls, code coverage
      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@v2
      # coveralls
